<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>select</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>
<div id="app">

    <p>卡梅隆</p>
    <input type="text" placeholder="姓名" v-model="username"><br>
    <input type="text" placeholder="id" v-model="id"><br>
    <input type="text" placeholder="性别" v-model="sex"><br>
    <button value="提交" @click="getuser">提交</button><br>
    <button value="提交" @click="getqueryuser">条件查询</button><br>
    <li v-for="item in joke">
        <p>{{item}}</p>
    </li>
    <p>{{info}}</p>
    <p>{{joke}}</p>
    <p>{{username}}</p>
    <p>{{id}}</p>
    <p>{{sex}}</p>

</div>
<script type = "text/javascript">
    new Vue({
        el: '#app',
        data : {
            info: "未执行",
            joke: '！',
            username: "",
            id: "",
            sex:"",
        },

        methods:{

            getuser: function() {
                let that = this;
                axios.post('/select/getUser',{username:that.username,id:that.id})
                    .then(function(response) {
                        that.info = response.data;
                    }, function(err) {
                        that.info = err;
                    })
            },
            getqueryuser: function() {
                let that = this;
                axios.post('/select/queryUserList',{sex:that.sex})
                    .then(function(response) {
                        that.joke = response.data.list;
                    }, function(err) {
                        that.joke = err;
                    })
            },

        }

    })
</script>
</body>
</html>